@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes wave {
    0% {
        left: -100%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes star-movement-bottom {
    0% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
    100% {
        transform: translate(-100%, 0%);
        opacity: 0;
    }
}

@keyframes star-movement-top {
    0% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
    100% {
        transform: translate(100%, 0%);
        opacity: 0;
    }
}

@keyframes wave-pulse {
    0%, 100% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.7;
    }
}

.animate-shimmer {
    animation: shimmer 2.5s infinite linear;
}

.animate-wave-1 {
    animation: wave 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-wave-2 {
    animation: wave 2.5s cubic-bezier(0.4, 0, 0.6, 1) 0.5s infinite;
}

.animate-wave-3 {
    animation: wave 3s cubic-bezier(0.4, 0, 0.6, 1) 0.75s infinite;
}

.animate-star-movement-bottom {
    animation: star-movement-bottom linear infinite alternate;
}

.animate-star-movement-top {
    animation: star-movement-top linear infinite alternate;
}

.animate-wave-pulse {
    animation: wave-pulse 4s ease-in-out infinite;
}