.input {
    @apply border-solid border-gray-200 border-[.5px] w-full px-[13px] py-[12px] rounded-[20px] focus:ring-1 focus:ring-primary focus:border-transparent focus:outline-none focus:ring-offset-1 bg-white;
}

.input-error {
    @apply  !border-red-500 focus:ring-0;
}

.input-error-message {
    @apply text-red-500 text-[15px] text-ellipsis line-clamp-2 sm:text-[14px];
}

.search-input {
    @apply w-full h-full p-2 pt-3 rounded-[25px] px-4 placeholder:text-gray-600 outline-none text-[16px]  !appearance-none focus:border-primary transition pl-[50px] border border-gray-100 bg-white;
}